.nav-container {
  border-width: 1px;
  border-style: solid;
  border-color: #797979;
  border-radius: 0px;
  margin-left: 0px !important;
  padding-left: 0px !important;
  height: 60px;
  top: 0px;
  z-index: 1000;
  background: white; }
  .nav-container .logo {
    height: 30px; }
  .nav-container .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
  .nav-container .navbar-nav a:hover {
    text-decoration: underline; }
  .nav-container .btn-link {
    font-weight: 400  !important;
    color: #283c5e !important;
    padding: 0px; }
  .nav-container .nav-item {
    color: #283c5e; }

body {
  overflow: auto;
  color: #333333;
  font-size: 14px;
  font-weight: 400; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none; }

.clickable {
  cursor: pointer; }

.hoverable:hover {
  opacity: 0.6; }

#btn-home:hover {
  opacity: 0.6; }

#title-text {
  font-size: 20px;
  color: #283c5e; }

#landing-page {
  margin-top: 150px; }
  #landing-page .row {
    margin-left: 0px;
    margin-right: 0px; }


#landing-page {
  margin-top: 15px;
  margin-left: 15px; }

.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important; }
