# Shared
ENV_DOCKER_ENVIRONMENT=development

# Node
ENV_REACT_APPDIR=/path/to/portal-ui/build
ENV_EXPLORER_REACT_APPDIR=/path/to/explorer/build

#MariaDB
ENV_MARIADB_ROOT_PWD=

# Apache 
ENV_APACHE_SERVER_NAME=atlas.kpmp.org
ENV_FILE_SERVER_ADDRESS=
ENV_ARRANGER_SERVER_ADDRESS=

# SSL 
ENV_SSL_CERT_DIR=~/certs
ENV_APACHE_CONTAINER=kingstonduo/apache:apache-shib

#Workers
ENV_INDEX_CREATION_WORKER=kingstonduo/atlas-index-creation-worker:1.0

# Arranger-server
ENV_ES_HOST_IP=http://<KE IP ADDRESS>:9200
