# Shared
ENV_DOCKER_ENVIRONMENT=development

# Spring
ENV_APACHE_TOMCAT_PORT=3040
ENV_SPRING_BOOT_APPDIR=/home/vagrant/code/kpmp/data
ENV_FLUENTD_ADDRESS=ip.address.for.fluentd:24224

#MariaDB
ENV_MYSQL_PASSWORD=

#Email Service
ENV_SMTP_USERNAME=xxxx@yy.zzz
ENV_SMTP_PASSWORD=secret_password
ENV_SMTP_HOST=smtp.host
ENV_SMTP_SERVER=smtp.server
